[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=TV-Browserm
Comment=TV-Browserm - a free EPG
Exec=run-standalone.sh /opt/tv-browserm/tv-browserm
Icon=tvbrowser64
X-HildonDesk-ShowInToolbar=false
X-Osso-Type=application/x-executable
X-Multiple-Instances=false
Terminal=false