h1 {
  font-size:18pt;
  text-align:center;
  font-family : Verdana, Arial, Sans-serif;

}

h2 {
  font-size:18pt;
  text-align:center;
  font-family : Verdana, Arial, Sans-serif;
  font-weight: normal;

}

h3 {
  font-size:14pt;
  text-align:left;
  font-family : Verdana, Arial, Sans-serif;
  font-weight: bold;
  margin-top : 50px;

}

h4 {
  font-size:12pt;
  text-align:left;
  font-family : Verdana, Arial, Sans-serif;
  font-weight: bold;

}

p {
  font-size:10pt;
  font-family : Verdana, Arial, Sans-serif;
}

li {
  font-size:10pt;
  font-family : Verdana, Arial, Sans-serif;
}

.note {
  background-color:#FFDDDD;
  padding:12px;
  font-weight: bold;
}

td {


  font-size:10pt;
  font-family : Verdana, Arial, Sans-serif;
}

ul {
  text-align:left;

  font-size:10pt;
  font-family : Verdana, Arial, Sans-serif;

}

pre {
  background-color:#FFFFE0;
  font-weight : normal;
  font-family: Courier;
  font-size:10pt;
  padding:12px;
}

